@import "tailwindcss";

@layer base {

  body {
    @apply font-sans bg-[#0E0C15] text-[#FFFFFF];
  }

  h1 {
    @apply font-semibold text-[2.5rem] leading-[3.25rem] md:text-[2.75rem] md:leading-[3.75rem] lg:text-[3.25rem] lg:leading-[4.0625rem] xl:text-[3.75rem] xl:leading-[4.5rem]
  }

  h2 {
    @apply text-[1.75rem] leading-[2.5rem] md:text-[2rem] md:leading-[2.5rem] lg:text-[2.5rem] lg:leading-[3.5rem] xl:text-[3rem] xl:leading-tight
  
  }
  
  button {
    @apply text-xs font-bold uppercase tracking-wider
  }
}

.color-white {
  color: #ffffff;
}

.color-prime {
  color: #AC6AFF;
}

.container {
  max-width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 30px 0;
}